In [8]:
from pathlib import Path

In [9]:
origin = Path("OriSet/origami_classification_data/origamigiladori/")
dest = Path("dataset")

In [22]:
count = 0
def group_images(keywords:list[str]):
    for file in origin.glob("**/*.jpg"):
        name = file.name.lower()

        for key in keywords:
            if key in name.split(".")[0].split("_"):
                path:Path = dest/key
                if(not path.exists()):
                    path.mkdir()
                already_path = (dest/key/name)
                if(already_path.exists()):
                    if  already_path.stat().st_size == file.stat().st_size:
                        print("confict "+name)
                    else:
                        file.rename(path/(f"{name}_{count}"))
                        count+=1
                else:
                    file.rename(path/name)
                break

In [41]:
keywords = ["bear","horse","husky","duck","dragon","rose","swan","tiger","unicorn",
            "pegasus","frog","boar","bull","fish","cardinal","beetle","bat","butterfly",
            "carrot","candle","goose","panda","cat","pumpkin","rabbit","santa","squirrel",
            "turtle","turkey","watch","sheep","rat","rooster","rhinoceros","mouse","owl",
            "batman","apple","bird","bison","raindeer","alien","crab","crane","devil",
            "giraffe","goldfish","hippo","house","jackolantern","kitten","knight",
            "ladybug","lion","lotus","fox","camel","buddha","elephant","pelican",
            "skunk","skull","snail","armadillo","koala","lizard","moose","nun",
            "pelican","penguin","pig","pineapple","pteranodon","scottie","scorpion",
            "spinosaurus","superman","tortoise","trex","vampire","zebra","kangaroo",
            "kingfisher","maple","manatee","monkey","octopus","parrot","parasaurolophus",
            "peacock","ostrich","sparrow","toucan","tyrannosaurus","wakin","walrus","wizard",
            "yoda","songbird","reindeer","dolphin","chameleon","chimpanzee","cow",
            "crocodile","deer","demon","dog","goat","gorilla","godzilla","koi",
            "yinyang","stegosaurus","witch","wolf"]

In [42]:
group_images(keywords)

In [ ]:
import pandas as pd

In [55]:
dir_names = []
counts = []
for dir in dest.iterdir():
    #data[dir.name] = len([x for x in dir.iterdir()])
    dir_names.append(dir.name)
    counts.append(len([x for x in dir.iterdir()]))

In [62]:
df = pd.DataFrame({"cat":dir_names,"count":counts})
df.shape

(120, 2)

In [63]:
df.sort_values(by="count",ascending=False).head(20)

          cat  count
88      santa    165
19        cat     84
14  butterfly     78
70      panda     72
31     dragon     48
35     flower     46
33   elephant     39
29        dog     36
76    penguin     34
45      horse     34
98   squirrel     32
37       frog     31
57       lion     30
65      mouse     29
79      plane     27
69        owl     27
82     rabbit     24
7        bird     23
66        nun     22
74    pegasus     22

In [66]:
sum(1 for _ in origin.glob("**/*")),sum(1 for _ in dest.glob("**/*"))

(6357, 1772)